html {
  height: 100%;
}

body {
    margin-top: 0;
    min-height: 100%;
}

.plot_view {
    font-family: 'Lucida Sans';
    font-size: 11px;
}

#chart_container {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
}

#splitter {
    height: 100%;
    width: 99%;
    display: inline-block;
    position: absolute !important;
}

#legend {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

a {
    outline: none;
}
